@media (min-width: 768px) {

  .nav {
    padding: rem(40) 0;
  }
  .hero {
    display: flex;
    max-width: calc(100vw - rem(64));
    margin: 0 auto;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    &-imgbox {
      margin: 0;
      & img {
        width: rem(305);
        height: rem(400);
      }
    }

    &-right {
      text-align: left;
      margin: 0;
      width: 45%;
    }
  }
  .error-icon-style {
    right: rem(76);
  }

}
