//colors
$brown: #423a3a;
$darkCream: #ce9898;
$lightCream: #ee8b8b;
$white: #ffffff;
$gradient: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
$errorClr: #f96464;
$boxShadow: 0px 15px 20px rgba(198, 110, 110, 0.25);
